# Math Exercise

Now it's your turn! Go to the Python [Math Docs](https://www.programiz.com/python-programming/modules/math) and select one of the following math functions:

- Calculate the area of a triangle 
     - $area = 1/2 * Base * Height$
    
- Calculate the area of a circle
    - $area = \pi r^2$
    
- Calculate the length of an unknown side of a right triangle, given two sides that are known
    - $Pythagorean$  $Theorem: a^2 + b^2 = c^2$

- Calculate the area of a room
    - $area$ = $length$ * $width$

In [0]:
# Import libraries
import math

# Area of a triangle
def area_of_triangle(base, height):
    """
        Purpose:
            - This function is to calculate the area of a triangle

        Parameters:
            - base (type float)
            - height (type float)

        Return:
            - area_of_triangle (type float)
    """
    area = (base * height) / 2
    print(type(area))
    return area


# Area of a cirlcle
def area_of_circle(radius):
    """
        Purpose:
            - This function is to calculate the area of a cirlcle

        Parameters:
            - radius (type float)

        Return:
            - area_of_circle (type float)
    """
    area = math.pi * math.pow(radius, 2)
    print(type(area))
    return area


# Pythagorean Theorem
def length_of_side(side1, side2):
    """
        Purpose:
            - This function is to calculate the length of a side of a
            right triangle, given the 2 other sides

        Parameters:
            - side1 (type float)
            - side2 (type float)

        Return:
            - length (type float)
    """
    length = math.pow(side1, 2) + math.pow(side2, 2)
    print(type(length))
    return math.sqrt(length)
    
    
# Area of a room
def area_of_room(length, width):
    """
        Purpose:
            - This function is to calculate the area of a room

        Parameters:
            - length (type float)
            - height (type float)

        Return:
            - area_of_room (type float)
    """
    area = length * width
    print(type(area))
    return area

#### Executing the cell below will test the above functions and print the results

In [0]:
# This section is used to test the above math functions
# Running cell will output results

aot = area_of_triangle(base=10, height=3)
print("area_of_triangle returned: {}, should've returned 15.0\n".format(aot))


aoc = area_of_circle(radius=2)
print("area_of_circle returned: {0:.2f}, should've returned 12.57\n".format(aoc))


los = length_of_side(side1=12, side2=5)
print("length_of_side returned: {0:.2f}, should've returned 13.00\n".format(los))


los = area_of_room(length=4.2, width=5)
print("area_of_room returned: {0:.2f}, should've returned 21.00".format(los))

# Numpy & Matplotlib Exercise

#### Create 3 separate functions:
- First function will return a random number, either zero or one representing heads or tails
- Next function will use the first one to simulate n number of coin flips
- Last one will incorporate both prior functions to simulate n number of simulations

In [0]:
def flip_coin():
    """
        Info:
            This function will return a random number, either zero or one, representing heads or tails
        Params:
            None
        Output:
            value: Integer
    """
    # YOUR CODE GOES HERE
    value = np.random.randint(2)
    return value

In [0]:
def coin_game(num_flips):
    """
        Info:
            This function will return a list containing integers which represent the results of a coin flip
        Params:
            num_flips: Integer
        Output:
            value: List of integers
    """
    # List to save coin flips
    value = []
    
    # Loop thru num_flips
    for x in range(num_flips):
        # Flip the coin
        coin = flip_coin()
        # Save coin result to list
        value.append(coin)
        
    # Return list of coin flips
    return value

In [0]:
def run_sims(num_sims, num_flips):
    """
        Info:
            This function will execute n number of simulations, n number of flips and returns a list
            containing the sum of all times each simulation landed on tails
        Params:
            num_sims: Integer
            num_flips: Integer
        Output:
            value: List of integers
    """
    # List to save simulations
    value = []
    
    # Loop thru num_sims
    for sim in range(num_sims):
        
        # Create list of coin games
        coin_tosses = coin_game(num_flips)
        
        # Save simulation results filtering by tails
        value.append(sum(coin_tosses))
    
    # Return list of integers, each integer represents the number
    # of times the coin landed on tails
    return np.array(value)

### Run Simulation & Plot the distribution

In [0]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt

# Simulate 1,000 simulations consisting of 10 flips per simulation
all_tails = run_sims(1000, 10)

# Plot results
plt.hist(all_tails)
plt.ylabel("Freq of Simulations")
plt.xlabel("Tails / Total Flips")
plt.show()

# Pandas Exercise

Now it's your turn! Create a function for one of the following:

- Renames columns in a dataframe
    - [Example](https://chrisalbon.com/python/data_wrangling/pandas_rename_multiple_columns/)
    
- Drop a row if it contains a certain value
    - [Example](https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/)
    
- Sorts records in a dataframe
    - [Example](https://chrisalbon.com/python/data_wrangling/pandas_sorting_rows_dataframe/)

Go to the [Pandas](https://pandas.pydata.org/pandas-docs/version/0.25) Documentation or [Chris Albon](https://pandas.pydata.org/pandas-docs/version/0.25) site for reference.

In [0]:
def rename_columns(dataframe, column_names):
    """
        Info:
            This function will rename all the columns of a pandas dataframe
        Params:
            dataframe (type: pandas dataframe)
            column_names: (type: List)
        Output:
            dataframe (type: pandas dataframe)
    """
    dataframe.columns = column_names
    return dataframe

In [0]:
def drop_record_by_value(dataframe, column_name, column_value):
    """
        Info:
            This function will drop records that contain a given value in a given column
        Params:
            dataframe: Target dataframe
            column_name: Column of focus
            column_value: Target value
        Output:
            dataframe (type: pandas dataframe)
    """
    new_df = dataframe[dataframe[column_name] != column_value]
    return new_df

In [0]:
def sort_records(dataframe, column_name):
    """
        Info:
            This function will return a dataframe in sorted order by column name given
        Params:
            dataframe: (type: pandas dataframe)
            column_name: Can be a column name or list of column names to sort by
        Output:
            dataframe (type: pandas dataframe)
    """
    new_df = dataframe.sort_values(by=column_name)
    return new_df

### Mock data to test Pandas exercise

In [0]:
# Import libraries
import pandas as pd

raw_data = {
    'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
    'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
    'age': [42, 52, 36, 24, 73], 
    'preTestScore': [-999, -999, -999, 2, 1],
    'postTestScore': [2, 2, -999, 2, -999]}

def get_sample_data():
    return pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])

#### Test `rename_columns` function

In [0]:
# Get mock data
df = get_sample_data()
print("ORIGINAL DF\n{}\n".format(df.head()))

# Set function params
names = ['first', 'last', 'age', 'preScore', 'postScore']

# Create new df with renamed columns
new_df = rename_columns(df, names)

print(new_df)

#### Test `drop_record_by_value` function

In [0]:
# Get mock data
df = get_sample_data()
print("ORIGINAL DF\n{}\n".format(df.head()))

# Set function params
column_name = 'age'
column_value = 24

# Create new df with removed records
new_df = drop_record_by_value(df, column_name, column_value)

print(new_df)

#### Test `sort_records` function

In [0]:
# Get mock data
df = get_sample_data()
print("ORIGINAL DF\n{}\n".format(df.head()))

# Set function params
column_name = 'age'
column_names = ['first_name', 'age']

# Create new df with sorted records
new_df = sort_records(dataframe=df, column_name=column_names)

print("SORTED DF\n{}\n".format(new_df))